h1 {
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(80, 80, 80);
    text-align: center;
}
form{
    width: 600px;
    margin: 2em auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label{
    font-weight: bolder;
    font-size: .8em;
    margin-bottom: .3em;
}
.form-group input, .form-group textarea{
    padding: .5em;
    color: #777;
    font-size: 0.8em;
}
button{
    background-color: #777;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
    font-weight: bold;
    font-size: .8em;
    float: right;
}
button:hover{
    background-color: rgb(90, 90, 90);
}